@import "../../abstracts/variables";
@import "../../abstracts/mixins";






  /*---map---*/
  .map-container{
    flex-grow: 1;
    background-color: $color-grey-2;
    position: relative;

    .leaflet-container{
      width: 100%;
      height: 100%;
    }

    .map-tools{
      position: absolute;
      top:10px;
      right: 10px;
      z-index: 999;
      background-color: rgba(255,255,255,0.6);
      padding: 5px;
    }
  }

