@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.intro-page{

    &__body{
        padding: 20px;
    }

    &__intro{
        padding: 10px;
        display : flex;
        flex-direction: row;
        border-radius: 10px;
        color: $color-white;
        background-color: $color-primary-btn;
        @include tablet-width{
            flex-direction: column;
        }

        .intro{
            &__text{
                min-width: 400px;
            }

            &__img{
                margin-left: auto;
            }
        }
    }

    &__login{
        img{
            width: 50px;
            min-height: 50px;
        }
    }

    &__container{
        display : flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

    }


}
