src/.vs/nextone/v16
src/IdentityService/.vs/IdentityService/v16
src/IdentityService/bin
src/IdentityService/obj
src/IdentityService/wwwroot/css/site.css
src/IdentityService/wwwroot/css/**.min.css
src/IdentityService/wwwroot/css/**.min.css.gz
src/IdentityService/wwwroot/js/**.min.js
src/IdentityService/wwwroot/css/site.min.css
src/IdentityService/wwwroot/css/site.min.css.gz
src/Gateway/bin
src/Gateway/obj
src/MasterService/bin
src/MasterService/obj
src/ComService/bin
src/ComService/obj
src/.vs
devvolumes
src/Libs/NextOne.Infrastructure.OpenTelemetry/obj
src/Libs/NextOne.Shared/bin
src/Libs/NextOne.Shared/obj
src/MapService/obj
src/NextOne.Infrastructure.Core/obj
src/NextOne.Infrastructure.MassTransit/obj
src/NextOne.Infrastructure.Metrics/obj
src/FileService/obj
src/FileService/bin
src/MapService/bin
src/NextOne.Infrastructure.Core/bin
src/NextOne.Infrastructure.MassTransit/bin
src/NextOne.Infrastructure.Metrics/bin
src/Libs/NextOne.Infrastructure.OpenTelemetry/bin
src/SharedDomain/obj
src/Libs/NextOne.Infrastructure.Core/obj
src/Libs/NextOne.Infrastructure.Core/bin
src/Libs/NextOne.Infrastructure.MassTransit/bin
src/Libs/NextOne.Infrastructure.MassTransit/obj
src/Libs/NextOne.Infrastructure.Metrics/bin
src/Libs/NextOne.Infrastructure.Metrics/obj
src/Libs/SharpMap/.git_temp
src/Libs/SharpMap/Examples
src/Tests/MapService.Tests/bin
src/Tests/MapService.Tests/obj
src/SharedDomain/bin
src/.tye
src/ComService/ComService.csproj.user
src/IdentityService/IdentityService.csproj.user
src/MasterService/MasterService.csproj.user
src/MapService/Data/ShapeFiles
src/MapService/MapService.csproj.user
src/FileService/Data/Uploads
src/FileService/FileService.csproj.user
src/Libs/NextOne.Infrastructure.MessageBus/obj
src/Libs/NextOne.Infrastructure.MessageBus/bin
src/obj
src/web-map/.env.development
