@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.layout__main {
    position: relative;
}

.call-session {
    background-color: $color-grey-8;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;

    &__video-container {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }

    }

    &__voice-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .user-view {
            width: 200px;
            height: 200px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__overlay {
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;

        .top-bar {
            position: absolute;
            top: 0;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
        }

        .bottom-bar {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
        }

        .local-video-container {
            position: absolute;
            bottom: 100px;
            right: 0;
            width: 200px;
            height: 200px;
            border: 4px solid red;
        }
    }

    .call-title {
        font-size: $font-size-2;
        font-weight: $font-weight-4;
        background-color: $color-white;
        padding: 0px 4px;
        border-radius: 4px;
    }



    .video-container {
        width: 100%;
        height: 100%;
        background-color: black;

        video {
            width: 100%;
            height: 100%;
        }
    }

    .group-buttons {
        display: flex;
        flex-direction: row;
    }

    .button-action {
        background-color: $color-white;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        border-radius: 5px;

        svg {
            width: 20px;
            height: auto;
            max-height: 20px;
        }

        &.on {
            color: $color-white;
            background-color: $color-red;
        }

        &.stop-call{
            background-color: $color-red;
        }
    }


}