@import '../vars';


.login-page{
    display: flex;
    justify-content: center;
    padding: 50px;
    &__container{
        padding: 50px;
        display: flex;
        flex-direction: row;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  

    &__login{
        width: 400px;
        h1{
            padding: 5px;
            color: $color-white-2;
            background-color: $color-primary;
        }
    }

    &__intro{
        flex-grow: 1;
    }
}