@import '../vars';
@import '../utils';

.maps-page{
    &__header{
        display: flex;
        margin: $margin-3;
        &__title{
            font-size: $font-size-1;
        }
    }

    &__body{
        margin: $margin-3;
    }

    &__list-map{
        display: flex;
        flex-wrap: wrap;
    }
   

    .map-item{
        max-width: 15%;
        height: auto ;
        margin: 10px 7px;
        background-color: $color-grey-8;
        &__image-block{
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            img{
                width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                width: 100%;
                max-height: 100%;
                object-fit: scale-down;
            }
        }

        &__title{
            font-size: $font-size-5;
            font-weight: $font-weight-5;
            margin: 0;
            overflow: hidden;
            padding: 5px 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        transition:0.3s;
        &:hover{
            transform: scale(1.1);
            transform-origin: center;
            .map-item__title{
                color: $color-blue;
            }
        }
    }
}