@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.noauth-layout{
    &__header{
        border-bottom: 1px solid $color-line;
        display: flex;
        flex-direction: row;
        padding:5px;
        align-items: center;
        height: $header-height;

        .header{
            &__appname{
                margin-left: 10px;
                font-size: $font-size-3;
                font-weight: $font-weight-5;    
            }


        }
    }

    &__bottom{
        // position: fixed;
        // bottom: 10px;
        // left: 10px;
        // right: 10px;
        display: flex;
        justify-content: center;
    }

    @include tablet-width{
        display: block;
        position: relative;
    }

    &__body {
        background-color: $color-white;
        min-height: 600px;

        @include tablet-width{
        }
    }

}