@model IdentityService.Quickstart.Home.PortalViewModel;

@{
    ViewData["Title"] = Model.SystemName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portal Index</h1>
<p> Show application pages </p>

