// COLORS
$color-dark: #000000;
$color-dark-2: #000024;
$color-dark-3: #03002e;

$color-white: #ffffff;
$color-white-2: #f9f9f9;
$color-white-3: #f0f0f0;

$color-grey: #777777;
$color-grey-2: #a3a3a3;
$color-grey-3: #a4a4a4;
$color-grey-4: #c4c4c4;
$color-grey-5: #e3e3e3;
$color-grey-6: #e1e1e1;
$color-grey-7: #9b9b9b;
$color-grey-8: #ececec;
$color-grey-9: #cccccc;

$color-blue: #0a12bf;
$color-blue-2: #03002e;
$color-red: #be0808;
$color-green: #28C345;

$color-primary : #6B59CC ;

$color-primary-btn : #6B59CC ;
$color-primary-btn-hover : #8083A3;

$color-line : #D8D8D8;

// FONT
$font-family: "Ubuntu";
$font-family-bold: "Ubuntu Bold";


// BREAK POINT
$break-point-mobile : 600px;
$break-point-tablet : 900px;


// SIZE
$header-height : 60px;
$input-control-height:  40px;

$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.5rem;
$font-size-4: 2rem;

$font-weight-1 : 100;
$font-weight-2 : 200;
$font-weight-3 : 300;
$font-weight-4 : 400;
$font-weight-5 : 500;

$border-radius : 6px;