// COLORS
$color-dark: #000000;
$color-dark-2: #000024;
$color-dark-3: #03002e;

$color-white: #ffffff;
$color-white-2: #f9f9f9;
$color-white-3: #f0f0f0;

// FONT
$font-family: "Ubuntu";
$font-family-bool: "Ubuntu Bold";


// BREAK POINT
$break-point-mobile : 600px;
$break-point-tablet : 900px;


// SIZE
$header-height : 80px;