@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.chat-page {
  display: flex;
  height: calc(100vh - #{$header-height});

  @include mobile-width {
    flex-direction: column;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    background-color: $color-white;
    border-right: 1px solid $color-grey-5;
    height: 100%;

    .search-container {
      padding: 4px;
      margin-top: 4px;

      input {
        border-radius: $border-radius;
      }
    }
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /*-------------------*/
  .chat-channel-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    height: 1px;

    &__header {
      padding: 5px;
      border-bottom: 2px solid $color-primary;
      font-weight: $font-weight-5;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .chat-list {
      flex-grow: 1;
    }

  }

  /*-------------------*/
  .chat-users-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    height: 1px;

    &__header {
      padding: 5px;
      border-bottom: 2px solid $color-primary;
      font-weight: $font-weight-5;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .chat-list {
      flex-grow: 1;
    }

  }

  /*-------------------*/
  .no-selected-conversation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: $font-size-3;
      font-weight: $font-weight-5;
    }

    img {
      width: 30%;
    }
  }

  .chatbox__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .chat-box {
      flex-grow: 1;
    }

    .chat-info {
      width: 350px;
      min-width: 350px;
      max-width: 350px;
      height: 100%;
      border-left: 1px solid $color-grey-5;
      .ant-tabs{
        display: flex;
        flex-direction: column;
        height: 100%;
        .ant-tabs-content-holder {
          height: 100%;
          overflow-y: auto;
        }
        .ant-tabs-content{
          flex-grow: 1;
        }
      }

      .ant-tabs-nav-list{
          display: flex;
          width: 100%; 
      
          .ant-tabs-tab {
            flex-grow: 1;
            justify-content: center;
          }
      }

      /*00'conversation-info tab */
      .conversation-info{
        
        &__header {
          border-bottom: 1px solid $color-grey-5;
          padding: 0 5px 10px 5px;
        }
        &__body{
          padding: 5px;
          margin-bottom: 20px;
        }
        &__subchannels{
          border-top: 1px solid $color-grey-5;
          padding: 5px;
          padding-top: 20px;
        }
      }
      /*--conversation-members--*/
      .conversation-members {
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: $color-white;

        &__header {
          border-bottom: 1px solid $color-grey-5;
          padding: 0 5px 10px 5px;

          .search-container {
            padding: 5px;

            input {
              border-radius: 25px;
            }
          }
        }

        &__body{
          flex-grow: 1;
          height: 100%;
          overflow-y: auto;
          padding: 5px;
        }
      }

      /*--channel-events--*/
      .channel-events {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__header {
          border-bottom: 1px solid $color-grey-5;
          padding: 0 5px 10px 5px;
        }

        &__body {
          flex-grow: 1;
          height: 100%;
          overflow-y: auto;
          padding: 5px;
        }

        .event-container {
          background-color: $color-white;
          margin-bottom: 10px;
          border-radius: 5px;
          display: flex;

          .event-body {
            flex-grow: 1;
          }

          .event {
            &--icon {
              padding: 5px;
              width: 40px;
            }

            &--type {
              font-weight: 500;
            }

            &--content {
              color: #555
            }

            &--sender {
              font-weight: 400;
              font-size: 12px;
            }

            &--time {
              text-align: right;
              font-size: 12px;
              color: rgba(0, 0, 0, 0.4);
            }

            &__bottom {
              display: flex;
              justify-content: space-between;
              align-items: baseline;
            }
          }
        }
      }
    }

    
  }
}